body{

margin:0;
background:#0b0b0b;
font-family:monospace;
color:white;

}

.desktop{

height:100vh;

}

.dock{

position:fixed;
bottom:10px;
left:50%;
transform:translateX(-50%);
background:#111;
padding:10px;
border-radius:10px;

}

.dock button{

background:none;
border:none;
font-size:25px;
margin:5px;
cursor:pointer;

}

.window{

display:none;
position:absolute;
top:80px;
left:50%;
transform:translateX(-50%);
background:#111;
padding:20px;
width:500px;
border-radius:10px;

}

.profile{

width:120px;
border-radius:50%;

}

.contacts a{

display:block;
margin:10px;
color:#00ffcc;
font-size:18px;

}

#repos{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:10px;

}

.repo{

background:#1a1a1a;
padding:10px;
border-radius:10px;

}

#terminalOutput{

height:150px;
overflow:auto;
background:black;
padding:10px;

}

#terminalInput{

width:100%;
background:black;
color:lime;
border:none;

}

#chatlog{

height:150px;
overflow:auto;
background:#000;
padding:10px;

}

#chatinput{

width:100%;
background:#000;
color:white;
border:none;

}